<!-- Modal de opções de chamado - Kelvynn José da Silva -->



<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
      
<div class ='card' style='margin-bottom: 0px; margin-top: 0px'><div class="card-body">
    {% if request.user.is_atendente %} <!-- VERIFICA SE O USUARIO TEM PERMISSÃO DE ATENDENTE -->

<form class='form' action ='/alterar_status/'method ='POST' >

{% csrf_token %}

<div style='display: inline-block;' class="form-group">
<label style='text-transform: uppercase; margin-bottom: 4px;'class='badge label text-dark' for="selecionar_status">Alterar Status</label>

<select id="selecionar_status" name='selecionar_status' class="form-control" data-role="select-dropdown">

<option  value ='resolvido'>Resolvido</a></option>

<option  value ='aberto'>Aberto</option>

<option value ='pendente'>Pendente </option>

<option value ='fechado'>Fechado</option>

</select>
</div>

<input type="hidden" name="id_chamado" value='{{chamado.id}}'>
<button type='submit' class ='btn btn-sm btn-square btn-outline-secondary'>Aplicar</button>

</form>


<form class='form' action ='/alterar_prioridade/' method ='POST'>
{% csrf_token %}

<div style='display: inline-block;' class="form-group">
<label style='text-transform: uppercase; margin-bottom: 4px;'class='badge label text-dark' for="selecionar_prioridade">Alterar Prioridade</label>

<select id="selecionar_prioridade" name='selecionar_prioridade' class="form-control" data-role="select-dropdown">

<option value ='baixa'>Baixa</a></option>

<option value ='media'>Media</option>

<option value ='alta'>Alta </option>

</select>
</div>


<input type="hidden" name="id_chamado" value='{{chamado.id}}'>

<button type='submit' style=' margin-top:0px'class ='btn btn-sm btn-square btn-outline-secondary'>Aplicar</button>
</form>

{% endif %}  <!-- FIM VERIFICAÇÃO ATENDENTE -->







<form  action="/excluir_chamados/" method='POST'>
  {% csrf_token %}

  <input type="hidden" name="id_chamado" value='{{chamado.id}}'>
 <input type="hidden" name="dir_atual" value='{{request.path}}'>
<button id='deletar' type ='submit' style='margin-right: 30px; margin-top: 2px;' class= 'btn btn-sm btn-danger'><i class='fa fa-trash fa-lg'></i> Excluir chamado {{chamado.id}} </button></form>
<br>



</div></div>

</div>
</div>


</div>



{% comment %} MODAL DE UPLOAD DE ANEXO NO CHAMADO {% endcomment %}


<div class="modal fade" id="upload_anexo" tabindex="-1" role="dialog" aria-labelledby="modal_upload" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_upload">Upload de Anexo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        {% include 'extra/form_upload.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

      </div>
    </div>
  </div>
</div>