<!-- Formulários de abertura/consulta de novo chamado - Kelvynn José da Silva-->
<br>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <!-- modal de abertura de novo chamado -->
      <div class='corpo-chamado'>
        <form action="/novo_chamado/" method ="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <h5> Abrir Novo Chamado <span style='color:lightgreen;' class="fa fa-plus fa-lg"></span></h5>
              <br>
              <label for="titulo_chamado">Titulo do Chamado:</label>
              <input required type="text" class="form-control" name = "titulo_chamado" id="titulo_chamado" maxlength = "50" placeholder="Digite aqui o Titulo do seu chamado">
            </div>
            
            <div class="form-group">
              <label for="texto_chamado">Descrição do chamado:</label>
              <textarea required class="form-control rounded-0" name = 'texto_chamado'id="texto_chamado" rows=""></textarea>
            </div>

              <div class="form-group">
              <label for="local_chamado">Local afetado:</label>
              <input required type="text" class="form-control" name = "local_chamado" id="local_chamado" maxlength = "50" placeholder="Ex: 'Financeiro', 'Jurídico', 'Administrativo'">
              <small id="dica_local" class="form-text text-muted">Local onde o solicitante está situado / onde o suporte é necessário.</small>
            </div>



              <!-- Tópicos de ajuda/solicitação -->
              <div class="form-group">
                <label for="topico_chamado">Tópico de suporte:</label>
                <select required class="form-control" name = 'topico_chamado' id="topico_chamado">
                  <option value='Dificuldade de acesso'>Dificuldade de acesso</option>
                  <option value='Solicitar Instalação'>Solicitar Instalação</option>
                  <option value='Suporte com o computador'>Suporte com o computador</option>
                  <option value='Solicitar Acesso à pastas no servidor'>Solicitar Acesso à pastas no servidor</option>
                  <option value='Suporte com a Internet'>Suporte com a Internet</option>
                  <option value='Suporte com E-mail'>Suporte com E-mail</option>
                  <option value='Outro'>Outro</option>
                </select>
              </div>
          



            <div class="form-group">
              <label for="nivel_prioridade">Nível de Prioridade:</label>
              <select required class="form-control" name= 'nivel_prioridade' id="nivel_prioridade">
                <option value='baixa'>Baixa</option>
                <option value='media'>Media</option>
                <option value='alta'>Alta</option>
              </select>
            </div>
          </div>
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button type="submit" class="btn btn-success w-50">Confirmar</button>
          </div>



        </form>
        
        
      </div>
      
    </div>
  </div>
</div>