{% extends 'base.html' %}

{% block content%}

{% if request.user.is_atendente%}
{% include 'navbar_painel.html' %}

{% else %}

{% include 'navbar.html' %}

{% endif %}

{% include "UI/notificacoes.html"%}

<style> body{ background-color:#494949;}</style>


<br>
<main class="form-signin">
   <div class='container' style='max-width: 40rem; background-color: #ffffff; margin-top:15px; padding-top: 15px;'>
      <form action="/cadastro/" method="POST">
         {% csrf_token %}

          <h2 style="color:rgb(59, 58, 58); text-align: center" class="h4 mb-3 fw-normal">{{Nome_Sistema}}</h2> 
         <h2 style="color:rgb(59, 58, 58); text-align: center" class="h4 mb-3 fw-normal">Cadastro de Usuário</h2>
         <br>
         <!-- Nome de Usuario -->
         <strong><label for="username" class="visually-hidden">Nome de Usuário:</label></strong>
         <input required id ='username' name='username' type="username" class="form-control" placeholder="Digite aqui o seu Nome de Usuário" required autofocus>
         <!--  -->

         <!-- Nome Completo -->
         <strong><label style='margin-top:5px;' for="nome_completo" class="visually-hidden">Nome Completo:</label></strong>
         <input required id ='nome_completo' name='nome_completo' style='margin-top:5px;' type="text" class="form-control"
            placeholder="Digite aqui o seu Nome Completo" required>
         <!--  -->


         <!-- Email -->
         <strong><label style='margin-top:5px;' for="email" class="visually-hidden">Email:</label></strong>
         <input required id ='email' name='email' style='margin-top:5px;' type="email" class="form-control" placeholder="Digite aqui o seu E-mail" required>
         <!--  -->

         <!-- Senha -->
        <strong> <label style='margin-top:5px;' for="password" class="visually-hidden">Senha:</label></strong>
         <input required id ='password' name='password' style='margin-top:5px;' type="password" class="form-control" placeholder="Digite aqui a sua Senha"
            required>
         <!--  -->



         <div class="checkbox mb-3">
            <label>
         </div>

         <center><button style='background-color:rgb(127, 221, 135); margin-bottom: 15px;' class="w-100 btn btn-md" type="submit">Confirmar
               Cadastro</button></center>
   </div>
   </div>
   <br>

   </form>
</main>



{% endblock %}