<!-- Kelvynn José da Silva -->
<!-- Trata-se do modelo base da página individual do chamado-->
{% extends 'base.html' %}

{% block title %} Chamado Nº {{chamado.id}} {% endblock  %}

{% block body %} {% include "navbar_painel.html" %}

<!-- ISSO INCLUE A BARRA DE NAVEGAÇÃO-->
{% endblock %}
{% block content %} {% include "UI/notificacoes.html"%}


<div style='margin:20px'> 

{% include "UI/botao_opcoes_chamado.html" %}





</div>


<style> body{background-color: #7cccaa; outline-color: transparent;} .corpo_card{background-color: #7cccaa; outline-color: transparent;}</style>





<div class="card corpo_card" style='max-width: 85rem;'>
  <div class="card-body" style="max-width: 85rem;">
    
    
    


    <span class='badge badge-primary'></span>
    <div class='card-header bg-dark text-white'
      style='margin-top: 2rem;max-width: 85rem; max-height: 15rem;font-weight: 600;'>
      <h5 style="margin-top:5px;"> <a class='bg-light text-dark'> CHAMADO Nº # {{chamado.id}}
        <!-- colocar o número do chamado aqui --></a> <a style="">- {{chamado.titulo|lower|capfirst}}</a>
        <a style='margin-left: 5px; text-transform:uppercase;' href='#'
          {% if chamado.status == "excluido"%} class="badge badge-danger" {% endif %}
          {% if chamado.status == 'fechado'%} class="badge badge-warning"{% endif %}
          {% if chamado.status == 'aberto'%} class="badge badge-primary" {% endif %}
          {% if chamado.status == 'pendente'%} class="badge badge-info" {% endif %}
          {% if chamado.status == 'resolvido'%} class="badge badge-success" {% endif %}>
        {{chamado.status}} </a>

 <span class='flex-d float-right'><button type="button" class="btn btn-light btn-md" data-toggle="modal" data-target="#mymodal"><span><i class="fa fa-bars" aria-hidden="true"></i></span></button></span>
 
        <!-- alterar com o status do chamado --></a href='#'> </h5>
      </div>
      <div class='card-header bg-dark '><p class=' text-muted text-white'>Criado em 02/06/2021 por: Nome Completo da Silva</p>
      <strong>          <!-- colocar o nome variavel do setor -->
      <p class='card-text text-white'> PRIORIDADE:
        <a {% if chamado.prioridade == "alta"%} class="badge badge-danger {% endif %}
        {% if chamado.prioridade == 'media'%}
        class="badge badge-warning {% endif %}
        {% if chamado.prioridade == 'baixa'%}
        class="badge badge-light text-dark{% endif %}">{{chamado.prioridade|upper}}</a>
        <!-- colocar o nome da prioridade e a cor -->
      </p>
      </strong>
      
      <small><p class='card-text text-white' style='font-weight: 600; display: inline;'>Local/Setor/Seção: <p class ='text-white'style='display: inline'>{{chamado.local_afetado|lower|capfirst}}</p></p></p></small>
    </div>
    
    <div class="card-header bg-dark text-white" style='max-width: 85rem; max-height: 15rem;font-weight: 600;'>Descrição
      do chamado:
    </div>
    <div class='card-body' style='background-color: #e6f0f2;'>
      <p class='card-text' style='padding-left: 1rem;'><h5><strong>{{chamado.titulo|lower|capfirst}}</strong></h5> <br>

      {{chamado.descricao}}</p>
    </div>
    <div class="card-header bg-dark text-white">
      Anexos
    </div>
    {% if chamado.anexos is not None and chamado.anexos > 0 %}
      <!-- Verifica se existem anexos no chamado atual -->
      <div class='card-body' style='max-width: 85rem;background-color: #e6f0f2;'>
        <ul class="list-group list-group-flush">
        {% endif %}
        {% for anexo in chamado.anexos %}
          <!-- SE HOUVEREM ANEXOS, FAZER FOR LOOP E APRESENTA-LOS AQUI  -->
          <li class="list-group-item" style=";"><a onclick="window.open('{{anexo.link}}')"
          class='btn btn-sm btn-danger'>{{anexo.nome}}</a></li>
        {% endfor%}
        {% if chamado.anexos %}
        </ul>
      </div>
    {% endif %}
    <div class='card-header text-muted bg-dark text-white'>Chamado Nº {{chamado.id}}</div>
  </div>



<!-- Quando a página carrega, o chamado é listado como "lido", então não mais aparece nas notificações  -->
<form id="chamado_lido" action="/chamado_lido/" method="POST">
  <input id="donaldduck" type="hidden" name="chamado_lido" value="chamado_lido">
</form>

<script type="text/javascript">
    $(document).ready(function() {
       
    });



    function postToURL();{
      
    }
</script>


</body>
</html>
{% endblock %}