{% extends "base.html" %}

{% block title %} Painel {% endblock  %}

  
{% block body %} {% include "navbar_painel.html" %}

<style> body{

background-color: lightcyan; }

a:link {
  color: #23272B;
    decoration: none; 
}

a:visited {
  color: #23272B;
 text-decoration: black; 
    decoration: none; 

}

a:hover {
  color: #23272B;
text-decoration: black; 
    decoration: none; 
}

a:active {
  color: #23272B;
 text-decoration: black; 
    decoration: none; 
}
</style>


</style>








  <!-- ISSO INCLUE A BARRA DE NAVEGAÇÃO-->
{% endblock %}


{% block content %} {% include "UI/notificacoes.html"%} 




<!-- Inclue o Botão e modal de formulário de um novo chamado -->
{% include "acoes_chamado.html" %}


<!-- Verifica se o usuário é um atendente, se sim, mostra os chamados realizados, todos, ou com filtro "abertos", fechados e concluidos -->



{% include "visualizar_chamados.html" %}









 {% endblock %}


