<!-- Painel de Gerenciamento - Kelvynn José da Silva -->

{% extends "base.html" %}

{% block head %}
<style>



#example_length > label{
float: left !important;}

#example_wrapper > div:nth-child(3) > div.col-sm-12.col-md-5{padding-bottom:10px}

}





</style>

{% endblock head %}
{% block title %} Painel - {{Nome_Sistema}} {% endblock  %}

  
{% block body %}  {% include "navbar_painel.html" %} 






  <!-- ISSO INCLUE A BARRA DE NAVEGAÇÃO-->
{% endblock %}

<!-- Inclue as notificações -->
{% block content %} 
{% include "UI/notificacoes.html"%}  



<!-- Inclue o Botão e modal de formulário de um novo chamado -->
{% include "acoes_chamado.html" %}


<!-- Verifica se o usuário é um atendente, se sim, mostra os chamados realizados, todos, ou com filtro "abertos", fechados e concluidos -->



{% include "visualizar_chamados.html" %}





 {% endblock %}


