{% extends 'base.html' %}

{% block title %} {{usuario.username}} - {{Nome_Sistema}}{% endblock title %}

{% block body %}
{% include "navbar_painel.html" %}
<!-- ISSO INCLUE A BARRA DE NAVEGAÇÃO--->



{% endblock %}

{% block content %}
<!-- Inclue as notificações ---->

{% include "UI/notificacoes.html"%}




<style>
  body {
    background-color: #9AFFEE;
    outline-color: transparent;
  }

  .corpo_card {
    background-color: #9AFFEE;
    outline-color: transparent;
  }
</style>







<div class="card corpo_card" style='max-width: 100vw;'>
  <div class="card-body" style="max-width: 100vw;">




    <span class='badge badge-primary'></span>
    <div class='card-header bg-light text-dark'
      style='margin-top: 2rem;max-width: 100vw; max-height: 15rem;font-weight: 570;'>
      <h5 style="margin-top:5px;">Usuário: <a class='bg-light text-dark'> {{usuario.username}}
          <!-- colocar o número do chamado aqui --></a> <a>{{chamado.titulo|lower|capfirst}}</a>
        <span class='text-white' style='margin-left: 15px;'><a class='container'></a>


          <div class='card-header bg-light text-dark'><small>
              <p style='margin-top:15px' class=' text-muted text-dark'>Criado em {{usuario.data_criacao}}</p>
            </small>

            <small>
              <p class='card-text text-dark' style='font-weight: 580; display: inline;'>Nome Completo: <p
                  class='text-dark' style='display: inline; font-weight: 580'>{{usuario.nome_completo|lower|title}}</p>
              </p>
            </small></p>

            <small>
              <p class='card-text text-dark' style='font-weight: 580; display: inline;'>Data de Modificação: <p
                  class='text-dark' style='display: inline; font-weight: 580; font-size: 15px'>
                  {{usuario.data_modificacao}}</p>
              </p>
              </p>
            </small>

          </div>

 
          </div>

          



              {% endblock content %}